/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Title*/
.title {
	padding-top: 30px;
	text-align: center;
	font-size: 30px;
}

/*Search Bar*/

.search-bar {
  width: 190px;
  height: 25px;
  position: absolute;
  top: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /*margin: auto;*/
	z-index: 1;

	border: solid;
}

/*Chart*/
.chart {
  width: 500px;
  height: 225px;
  position: absolute;
  top: 125px;
  bottom: 0;
  left: 0;
  right: 0;

  border: solid;

  margin-left: auto;
  margin-right: auto;
  /*margin: auto;*/
	z-index: 2;
	background-color: white;
}

/*Top Section*/
.top-container {
	border: solid;
}

.topic {
	float: left;
	border: solid;
}

.search-again-button {
	width: 100px;
	float: right;
	border: solid;
}

/*Bottom Section*/
.section-1, .section-2, .section-3 {
	/*width: 33%;*/
	float: left;
	border: solid;
}

.bottom-container {
	width: 500px;
	border: 1px solid black;
	overflow: hidden; /* add this to contain floated children */
}