/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h3 {
  font-size: 20px;
  color: #4374a8;
  padding-bottom: 15px;
  padding-top: 10px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  background-color: #FDFDFD;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*Title*/
.title {
	padding-top: 20px;
  padding-bottom: 15px;
  
	color: #FFFFFF;
	text-align: center;
	font-size: 35px;
  font-family: 'Raleway', sans-serif;
	background-color: #4374A8;
}

/*Search Bar*/
.search-bar {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 250px;
	z-index: 1;
  font-size: 0;
}
.searchInput {
  text-align: left;
  display: inline-block;
}

.searchButton {
  display: inline-block;
  border: none;
  background: #4374A8;
  font-size: 18px; 
  font-weight: bold; 
  color: #ffffff;
  margin: 0 auto;
  vertical-align: middle;
  padding: 0 10px; 
  height: 64px;
  width: 70px;
}

/* The next blocks of code are for user actions on the buttons. */
.searchButton:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #60bdc5; 
}

button:focus {
  outline:none;
}

input {
  outline: none;
  color: #4374a8;
  height: 30px;
  width: 300px;
  border: 2px solid #4374a8;
  border-right: none;
  padding: 15px;
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
  vertical-align: middle;
}

input:focus, input.focus.hover.active {
  border: 2px solid #60bdc5;
  border-right: none;
  color: #4374a8;
}

text {
  color: white;
}
/*Chart*/
.chart {
  width: 600px;
  height: 235px;
  position: absolute;
  top: 125px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  /*border: solid;*/

  margin-left: auto;
  margin-right: auto;
	z-index: 2;
	
}

/*Top Section*/
.top-container {
  margin: 20px;
}

.topic {
	float: left;
  font-size: 40px;
  color: white;
  text-align: center;
  padding-left: 50px;
}

.search-again-button {
	width: 100px;
  padding-right: 50px;
	float: right;
  background-color: ;
}

/*Bottom Section*/
.bottom-container {
  color: #60BDC5;
	width: 90%;
  margin:auto;
  margin-top: 300px;
  /*margin-left: 100px;*/
  padding: 20px;
	overflow: hidden; /* add this to contain floated children */
}

.section-1, .section-2, .section-3 {
	width: 30%;
	height: 100%;
	float: left;
  margin: 10px;
}

.section-1 {
  width: 25%;
}
.section-2 {
  padding-right: 70px;
}



li {
  padding-top: 10px;
  padding-bottom: 10px;

}


