/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h3 {
  font-size: 20px;
  color: white;
  padding-bottom: 15px;
  padding-top: 10px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: 'Raleway', sans-serif;

	line-height: 1;
  background-color: #738698;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Title*/
.title {
	padding-top: 20px;
  padding-bottom: 15px;
  color: #EAEAEA;
	text-align: center;
	font-size: 35px;
  font-family: 'Raleway', sans-serif;
  background-color: #4E5B69;
}

/*Search Bar*/

.search-bar {
  width: 190px;
  text-align: center;
  height: 25px;
  position: absolute;
  top: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /*margin: auto;*/
	z-index: 1;

	/*border: solid;*/
}

text {
  color: white;
}
/*Chart*/
.chart {
  width: 600px;
  height: 235px;
  position: absolute;
  top: 125px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  /*border: solid;*/

  margin-left: auto;
  margin-right: auto;
	z-index: 2;
	background-color: #4A5664;
}

/*Top Section*/
.top-container {
  margin: 20px;
}

.topic {
	float: left;
  font-size: 40px;
  color: white;
  text-align: center;
  padding-left: 50px;
}

.search-again-button {
	width: 100px;
  padding-right: 50px;
	float: right;
  background-color: ;
}

/*Bottom Section*/
.bottom-container {
  color: #DCDDDD;
	width: 90%;
  margin:auto;
  margin-top: 300px;
  /*margin-left: 100px;*/
  padding: 20px;
	overflow: hidden; /* add this to contain floated children */
}

.section-1, .section-2, .section-3 {
	width: 30%;
	height: 100%;
	float: left;
  margin: 10px;
}

.section-1 {
  width: 25%;
}
.section-2 {
  padding-right: 70px;
}


input {
  outline: none;
  background-color: #738698;
  color: white;
  height: 15px;
  width: 150px;
  border: 1px solid white;
  padding: 15px;
  margin: 10px auto 10px auto;
  font-size: 15px;
  text-align: center;
}

input:focus, input.focus.hover.active {
  background-color: white;
  color: #738698;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;

}
.btn {

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;   
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #545E66;
  color: #ffffff;
  text-shadow: none;
  border: none;
  height: 30px;
  line-height: 30px;
  padding: 0px 15.6px;
  font-weight: 300;
  font-size: 14px;
  /*border: 1px #969595 solid;*/
  /*font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  margin: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block; 

}

/* The next blocks of code are for user actions on the buttons. */
.btn:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #A6A6A6; 
}

