/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;*/
  vertical-align: baseline;
}

h3 {
  font-size: 20px;
  color: #4374a8;
  padding-bottom: 15px;
  padding-top: 10px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  background-color: #FDFDFD;
}


ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navBar {
    background-color: #4374A8;
    height: 60px;
    padding: 10px;
}
/*Title*/
.title {
	color: #FFFFFF;
	text-align: left;
	font-size: 35px;
  font-family: 'Raleway', sans-serif;
  float: left;
  padding: 10px 30px 0 10px;

}

/*Search Bar*/
.search-bar {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 250px;
	z-index: 1;
  font-size: 0;
}

.search-again-bar {
  padding: 5px 50px 0 0;
  margin: 0 auto;
  text-align: left;
  position: relative;
  font-size: 0;
}


.searchInput {
  text-align: left;
  display: inline-block;
}

.searchButton {
  display: inline-block;
  border: none;
  background: #60bdc5;
  font-size: 18px; 
  font-weight: bold; 
  color: #ffffff;
  margin: 0 auto;
  vertical-align: middle;
  padding: 0 10px; 
  height: 59px;
  width: 70px;
   -webkit-border-radius: 0 4px 4px 0;  
  -moz-border-radius: 0 4px 4px 0;  
  -ms-border-radius: 0 4px 4px 0;  
  -o-border-radius: 0 4px 4px 0;  
  border-radius: 0 4px 4px 0;  
}

/* The next blocks of code are for user actions on the buttons. */
.searchButton:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(96, 189, 197, 0.84); 
}

.searchAgain {
  height: 49px;
}

.searchAgain:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(96, 189, 197, 0.84); 
}

.slider {
  width: 400px;
  height: 50px;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  background-color: #95C0ED;
  margin: 0 auto;
  text-align: left;
   -webkit-border-radius: 4px; 
  -moz-border-radius:  4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; 
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}


button:focus {
  outline:none;
}

input {
  outline: none;
  color: #4374a8;
  height: 25px;
  width: 300px;
  border: 2px solid #60bdc5;
  border-right: none;
 
  padding: 15px;
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
  vertical-align: middle;
  -webkit-border-radius: 4px 0 0 4px; 
  -moz-border-radius: 4px 0 0 4px; 
  -ms-border-radius: 4px 0 0 4px; 
  -o-border-radius: 4px 0 0 4px; 
  border-radius: 4px 0 0 4px;  
}

/*input:focus, input.focus.hover.active {
  border-right: none;
  color: #4374a8;
}*/

.againInput {
  height: 15px;
  width: 200px;
  font-size: 20px;
  border: 2px solid #ffffff;
}

.againInput:focus, .againInput.focus.hover.active {
  border: 2px solid #ffffff;
}

text {
  color: white;
}
/*Chart*/
.chart {
  width: 600px;
  height: 235px;
  position: absolute;
  top: 125px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /*border: solid;*/
  margin-left: auto;
  margin-right: auto;
	z-index: 2;
}

/*Top Section*/
.top-container {
  margin: 20px;
}

.topic {
	float: left;
  font-size: 40px;
  text-align: center;
  padding-left: 50px;
  height: 50px;
  color: #468A90;
}


/*Bottom Section*/
.bottom-container {
  color: #55A9B0;
	width: 90%;
  margin: 0 auto;
  margin-top: 300px;
  /*margin-left: 100px;*/
  /*padding: 20px;*/
	overflow: hidden; /* add this to contain floated children */
}

.comment {
  width: 33.33%;
  display: inline-block;
  margin: 0 auto;
  padding: 15px;
  float: left;
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  line-height: 140%;
}

.nvd3 text {
  font-family: 'Raleway', sans-serif;
  font-size:20px;
}